*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

/*estilo do cabecalho*/
header{
    padding: 40px 4%;
}

header>.interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgb(122, 122, 122);
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    color: white;
    transform: scale(1.05);
    transition: .2s;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-table;
    padding: 0 48px;
}

header .brn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600px;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .brn-contato button:hover{
    box-shadow: 8px 0px 8px #00ff0873;
}

